h1 {
  font-family: 'Bangers', cursive;
  font-size: 80px;
  text-align: center;
  color:#734577;
  background: linear-gradient(145deg, #f56c6c, #ffac68, #faf875, #abfa8c, #8df7e5, #8d9ff8, #c18df8, #fd78e0, #f56c6c);
  padding: 20px;
  margin: initial;
  margin-left: 550px;
  margin-right: 550px;
  border-radius: 50px;
  border-top-left-radius: initial;
}

body {
  background-color: #e9f8bf;
  text-align: center;
}

ul {
  list-style-type: none;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #734577;
}

#changeTodoPositionInput {
  width: 22px;
  height: 20px;
  border-radius: 5px;
  margin-left: 1px;
  outline: none !Important;
  background-color: #d1f768;
  color: #734577;
  font-family: 'Indie Flower', cursive;
  font-size:18px;
  border-top-left-radius: initial;
}

#changeTodoTextInput {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  margin-left: 1px;
  outline: none !Important;
  background-color: #d1f768;
  color: #734577;
  font-family: 'Indie Flower', cursive;
  font-size:18px;
  border-top-left-radius: initial;
}

#addTodoTextInput {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  outline: none !Important;
  background-color: #d1f768;
  font-family: 'Indie Flower', cursive;
  font-size:18px;
  color: #734577;
  border-top-left-radius: initial;
}
button {
  background-color: #d1f768;
  border-radius: 5px;
  height: 30px;
  margin: 5px;
  outline: none !Important;
  color: #734577;
  font-family: 'Roboto', sans-serif;
  font-size: 12x;
  border-top-left-radius: initial;
  border-top-color:  solid, #734577, 7px;
  border-left: solid, #734577, 2px;
}

ul li.checked:before {
  content:'\2713';
  display:inline-block;
  color:#734577;
  padding:0 0px 0 0;
  background: #d1f768;
  background-color: #d1f768;
  border-radius: 5px;
  border-top-left-radius: initial;
  border-color: #734577;
  height: 25px;
  width: 22px;
  margin: 5px;
}

ul li
{list-style-type: none; font-size:1em;
}

/* ul li:nth-child(odd) {
  background: #d1f768;
  margin: initial;
  margin-left: 550px;
  margin-right: 550px;
  border-radius: 50px;
  border-top-left-radius: initial;
} */

ul li {
  cursor: pointer;
  position: relative;
  margin: 5px;
  background: #e9f8bf;
  font-size: 18px;
  transition: 0.2s;

  
  

  /* make the list items unselectable */
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}




  
